<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/nav') %>

    <p>404</p>
    <p>Sorry, we can't find that page!</p>

    <%- include('./partials/footer') %>
  </body>
</html>
