<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <div class="main error-page">
      <img src="/blobfish.png" alt="" />
      <p class="error number">404</p>
      <p class="error sorry">Sorry, we could't find that page!</p>
    </div>
  </body>
</html>
