:root {
  --clr-neutral: #fff;
  --clr-light: #e7ecef;
  --clr-medium: #6096ba;
  --clr-dark: #274c77;
  --clr-add: #00a67f;
  --clr-delete: #ad1c46;

  --size-50: 0.25rem;
  --size-100: 0.5rem;
  --size-200: 0.75rem;
  --size-300: 1rem;
  --size-400: 1.5rem;
  --size-500: 2rem;
  --size-600: 3rem;
  --size-700: 4rem;
  --size-800: 5rem;
  --size-900: 6rem;

  --ff-primary: 'Roboto', sans-serif;
  --ff-decorative: 'Climate Crisis', cursive;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;

  --fs-300: 300;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2.15rem;
  --fs-900: 3.5rem;
}

/* ----------------------------- */
/* || Reset                      */
/* ----------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------------- */
/* || General styling            */
/* ----------------------------- */

body {
  color: var(--clr-neutral);
  background: var(--clr-medium);
  font-family: var(--ff-primary);
  font-size: var(--fs-500);

  display: grid;
  grid:
    '...... header ......'
    '......  main  ......'
    '...... footer ......' /
    1fr minmax(250px, 400px) 1fr;
}

/* ---------- header ----------- */

.nav {
  grid-area: header;
  font-family: var(--ff-decorative);
  place-self: end center;
}

.nav-title {
  font-size: var(--fs-800);
}

/* ----------- main ------------ */

.main {
  grid-area: main;
  place-self: center;
  background: var(--clr-dark);
  border-radius: 5px;
  padding: 5px;
  display: grid;
}

.todo-img {
  filter: invert(100%);
  place-self: center;
}

#title {
  background: transparent;
  border: 0;
  color: var(--clr-light);
  border-bottom: 1px solid var(--clr-light);
  outline: none;
}

.todo-container {
  display: grid;
  grid-template-columns: minmax(100px, auto) auto;
  background: var(--clr-light);
  color: var(--clr-dark);
  padding: 0 var(--size-100);
  border-radius: 5px;
}

.todo-title {
  display: list-item;
  list-style-type: circle;
  list-style-position: inside;
}

.stuff-to-do {
  font-family: var(--ff-decorative);
  text-transform: lowercase;
  padding-top: var(--size-400);
  padding-bottom: var(--size-100);
}

/* ---------- footer ----------- */

.footer {
  grid-area: footer;
  place-self: center;
}

/* ---------- buttons ---------- */

.btn {
  cursor: pointer;
}

.btn.add {
  width: 36.2px;
  height: 36.2px;
  border-radius: 50%;
  border: 2px solid var(--clr-add);
  background: var(--clr-neutral);
  color: var(--clr-add);
  font-weight: var(--fw-800);
}

.btn.add:hover {
  background: var(--clr-add);
  color: var(--clr-neutral);
  transition: ease-in-out 0.2s;
}

.btn.add:focus {
  background: var(--clr-light);
  color: var(--clr-add);
}

.btn.delete {
  text-align: end;
  opacity: 0.6;
}

.btn.delete:hover {
  color: var(--clr-delete);
  opacity: 1;
}

/* ------ 404 error page ------- */

.main.error-page {
  background: var(--clr-medium);
  font-weight: var(--fw-300);
}

.error {
  place-self: center;
}

.error.number {
  font-size: var(--fs-900);
  font-family: var(--ff-decorative);
}
